@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #fbd8c5;
}
html.dark ::selection {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#events > h1::selection {
  background-color: #fef2ec;
}
